---
import "@fontsource/rubik";

export interface Props {
  name: string;
  icon: string;
}

const { name, icon } = Astro.props;
---

<div class="card">
  <div class="card__top">
    <div class="icon">
      <img src={icon} />
    </div>
    <div class="text">
      <h3>Report for</h3>
      <h1>{name}</h1>
    </div>
  </div>
  <div class="card__bottom">
    <button class="time-select daily-button"><h3>Daily</h3></button>
    <button class="time-select weekly-button"><h3>Weekly</h3></button>
    <button class="time-select monthly-button"><h3>Monthly</h3></button>
  </div>
</div>

<script>
  import { timeSpan } from "../timespanStore";
  document.querySelector(".daily-button").addEventListener("click", () => {
    timeSpan.set("daily");
  });
  document.querySelector(".weekly-button").addEventListener("click", () => {
    timeSpan.set("weekly");
  });
  document.querySelector(".monthly-button").addEventListener("click", () => {
    timeSpan.set("monthly");
  });
</script>

<style>
  h1 {
    font-size: 3rem;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    color: white;
  }
  h2 {
    font-size: 1.125rem;
    font-family: "Rubik", sans-serif;
    color: white;
    font-weight: 400;
  }
  h3 {
    font-size: 1rem;
    font-family: "Rubik", sans-serif;
    color: hsl(236, 100%, 87%);
  }
  .card {
    display: flex;
    flex-direction: column;
    grid-area: profile;
    background-color: hsl(235, 46%, 20%);
    border-radius: 1rem;
  }
  .card__top {
    display: flex;
    flex-direction: column;
    background-color: hsl(246, 80%, 60%);
    border-radius: 1rem;
    padding: 2rem;
    gap: 3rem;
    z-index: 1;
    height: 70%;
  }
  .icon > img {
    width: 5rem;
    border-radius: 5rem;
    border: 3px solid white;
  }
  .text {
    margin-bottom: 2rem;
  }
  .text h3 {
    margin-bottom: 0.5rem;
  }
  .card__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    z-index: 0;
    height: 30%;
    padding-left: 1rem;
  }
  .time-select {
    padding: 0.75rem 1rem;
    width: 5rem;
    cursor: pointer;
  }
  .time-select:hover h3 {
    color: white;
  }
  @media screen and (max-width: 1050px) {
    .card__top {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .text {
      margin-bottom: 0px;
    }
    .card__bottom {
      display: flex;
      flex-direction: row;
      padding: 0;
      text-align: center;
    }
    .time-select {
      padding: 1.5rem 2rem;
    }
    h1 {
      font-size: 2rem;
      font-family: "Rubik", sans-serif;
      font-weight: 300;
      color: white;
    }
    h2 {
      font-size: 1.125rem;
      font-family: "Rubik", sans-serif;
      color: white;
      font-weight: 400;
    }
    h3 {
      font-size: 1.125rem;
      font-family: "Rubik", sans-serif;
      color: hsl(236, 100%, 87%);
    }
  }
</style>
