---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import ProfileCard from "../components/ProfileCard.astro";
---

<Layout title="Time Tracking Dashboard">
  <main>
    <section class="container">
      <ProfileCard name={"Jeremy Robson"} icon={"images/image-jeremy.png"} />
      <Card
        title={"Work"}
        hours={32}
        lastHours={36}
        timespan={"Week"}
        icon={"svg/icon-work.svg"}
        bannerColor={"hsl(15, 100%, 70%)"}
      />
      <Card
        title={"Play"}
        hours={32}
        lastHours={36}
        timespan={"Week"}
        icon={"svg/icon-play.svg"}
        bannerColor={"hsl(195, 74%, 62%)"}
      />
      <Card
        title={"Study"}
        hours={32}
        lastHours={36}
        timespan={"Week"}
        icon={"svg/icon-study.svg"}
        bannerColor={"hsl(348, 100%, 68%)"}
      />
      <Card
        title={"Exercise"}
        hours={32}
        lastHours={36}
        timespan={"Week"}
        icon={"svg/icon-exercise.svg"}
        bannerColor={"hsl(145, 58%, 55%)"}
      />
      <Card
        title={"Social"}
        hours={32}
        lastHours={36}
        timespan={"Week"}
        icon={"svg/icon-social.svg"}
        bannerColor={"hsl(264, 64%, 52%)"}
      />
      <Card
        title={"Self Care"}
        hours={32}
        lastHours={36}
        timespan={"Week"}
        icon={"svg/icon-self-care.svg"}
        bannerColor={"hsl(43, 84%, 65%)"}
      />
    </section>
  </main>
</Layout>

<style>
  body {
    background-color: hsl(226, 43%, 10%);
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "profile work play study"
      "profile exercise social self-care";
    gap: 2rem;
    padding: 2rem;
    margin: 0 auto;
  }
  @media screen and (max-width: 1050px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(7, 1fr);
      grid-template-areas:
        "profile"
        "work"
        "play"
        "study"
        "exercise"
        "social"
        "self-care";
      margin: 0;
    }
  }
</style>
