---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card/Card.jsx";
import ProfileCard from "../components/ProfileCard.astro";
import { timeSpan } from "../timespanStore";
---

<Layout title="Time Tracking Dashboard">
  <main>
    <section class="container">
      <ProfileCard name={"Jeremy Robson"} icon={"images/image-jeremy.png"} />
      <Card
        index={0}
        icon={"svg/icon-work.svg"}
        bannerColor={"hsl(15, 100%, 70%)"}
        client:load
      />
      <Card
        index={1}
        icon={"svg/icon-play.svg"}
        bannerColor={"hsl(195, 74%, 62%)"}
        client:load
      />
      <Card
        index={2}
        icon={"svg/icon-study.svg"}
        bannerColor={"hsl(348, 100%, 68%)"}
        client:load
      />
      <Card
        index={3}
        icon={"svg/icon-exercise.svg"}
        bannerColor={"hsl(145, 58%, 55%)"}
        client:load
      />
      <Card
        index={4}
        icon={"svg/icon-social.svg"}
        bannerColor={"hsl(264, 64%, 52%)"}
        client:load
      />
      <Card
        index={5}
        icon={"svg/icon-self-care.svg"}
        bannerColor={"hsl(43, 84%, 65%)"}
        client:load
      />
    </section>
  </main>
</Layout>

<script>
  import { timeSpan } from "../timespanStore";
  timeSpan.subscribe((value) => {
    console.log("timespan:", value);
  });
</script>

<style>
  body {
    background-color: hsl(226, 43%, 10%);
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "profile work play study"
      "profile exercise social self-care";
    gap: 2rem;
    padding: 2rem;
    margin: 0 auto;
  }
  @media screen and (max-width: 1050px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(7, 1fr);
      grid-template-areas:
        "profile"
        "work"
        "play"
        "study"
        "exercise"
        "social"
        "self-care";
      margin: 0;
    }
  }
</style>
