h1 {
font-size: 3rem;
font-family: "Rubik", sans-serif;
font-weight: 300;
color: white;
}
h2 {
font-size: 1.125rem;
font-family: "Rubik", sans-serif;
color: white;
font-weight: 400;
}
h3 {
font-size: 1rem;
font-family: "Rubik", sans-serif;
color: hsl(236, 100%, 87%);
}
.card {
display: flex;
flex-direction: column;
position: relative;
}
.banner {
display: flex;
justify-content: flex-end;
flex-wrap: nowrap;
border-top-left-radius: 1rem;
border-top-right-radius: 1rem;
position: absolute;
width: 100%;
height: 5rem;
overflow: hidden;
}
.banner__icon {
padding-right: 1rem;
transform: translateY(-0.5rem);
}
.data-card:hover {
background-color: hsl(235, 45%, 61%);
}
.data-card__title {
grid-area: title;
}
.data-card__ellipsis {
grid-area: ellipsis;
justify-self: end;
margin-bottom: 8px;
}
.data-card__ellipsis:hover {
cursor: pointer;
filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(26%)
    hue-rotate(108deg) brightness(106%) contrast(100%);
}
.data-card__hours {
grid-area: hours;
}
.data-card__previous {
grid-area: previous;
white-space: nowrap;
}
.data-card {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr 0.5fr;
grid-template-areas:
    "title ellipsis"
    "hours ."
    "previous .";
row-gap: 1rem;
padding: 1rem 2rem 2rem 2rem;
align-items: center;
justify-content: center;
border-radius: 1rem;
background-color: hsl(235, 46%, 20%);
z-index: 2;
margin-top: 4rem;
height: 100%;
}
@media screen and (max-width: 1050px) {
.data-card {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "title ellipsis"
    "hours previous";
    padding: 2rem 2rem;
    margin-top: 3rem;
}
.data-card__previous {
    justify-self: end;
}
.banner {
    height: 4rem;
}
h1 {
    font-size: 3rem;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    color: white;
}
h2 {
    font-size: 1.5rem;
    font-family: "Rubik", sans-serif;
    color: white;
    font-weight: 400;
}
h3 {
    font-size: 1.125rem;
    font-family: "Rubik", sans-serif;
    color: hsl(236, 100%, 87%);
}
}